<script lang="ts">
	import { page } from '$app/stores';
	import { getPostRawQuery } from '$lib/api/posts/get';
	export let data;
	let { supabase } = data;
	$: ({ supabase } = data);
	const post_id = $page.params.post;
	const post = getPostRawQuery(supabase, post_id ?? '');
</script>

<svelte:head>
	<title>{$post.data?.data?.title}</title>
	<meta name="description" content={$post.data?.data?.description} />
	<meta name="author" content={$post.data?.data?.users?.display_name ?? 'Deleted'} />
	<meta name="keywords" content={$post.data?.data?.keywords?.join(', ')} />
	<meta name="robots" content="noindex, nofollow" />
</svelte:head>
<flex class="justify-around">
	<a href="/blog/read/{$post.data?.data?.id}">Read post</a>
</flex>
<div class="blog">
	{#if $post.status == 'success'}
		<article>
			<h1>{$post.data?.data?.title}</h1>
			<flex class="text-size-1.5em">
				<div class="mr-.5em">Author:</div>
				<a href="/users/{$post.data?.data?.users?.id}">
					{$post.data?.data?.users?.display_name ?? 'Deleted'}
				</a>
			</flex>
			<br />
			<pre>{$post.data?.data?.body}</pre>
		</article>
	{/if}
</div>

<style>
	div.blog pre {
		overflow-x: scroll;
		width: 100%;
		padding: 0.5em 1em;
		box-shadow: 1px 1px 2px 2px var(--shadow);
	}
</style>
