<script lang="ts">
	import { page } from '$app/stores';
	import { getPostQuery } from '$lib/api/posts/get';
	import BlogPreviewCard from '$lib/components/blog-preview-card.svelte';

	const post = getPostQuery($page.data.supabase, $page.params.post ?? '');
</script>

{#if $post.data?.data}
	<div class="text-size-10">Do you really wish to delete the post?</div>
	<BlogPreviewCard item={$post.data?.data} />
	<flex class="mt-10">
		<form method="POST" class="mx-5">
			<button type="submit" class="text-size-10 text-red hover:bg-red-600 hover:text-white"
				>Yes</button
			>
		</form>
		<a href="/blog/read/{$post?.data?.data.id}" class="mx-5">
			<button class="text-size-10 text-green hover:bg-green-600 hover:text-white">No</button>
		</a>
	</flex>
{:else}
	<div class="text-size-10">Item does not exist</div>
{/if}
