<script lang="ts">
	import { page } from '$app/stores';
	import { getPostsQuery } from '$lib/api/posts/get';
	import BlogPreviewCard from '$lib/components/blog-preview-card.svelte';
	const posts = getPostsQuery($page.data.supabase);
</script>

<svelte:head>
	<title>Blogs</title>
	<meta name="description" content="List of blog posts" />
	<meta name="keywords" content="blog" />
</svelte:head>
<a href="/blog/editor" class="underline-transparent">
	<div class="text-size-2em inline-block">Create Blog</div>
	<div class="i-carbon-locked inline-block align-top" />
</a>
<h1>Blog posts</h1>
{#if $posts?.data?.data}
	<flex class="mt-5 flex-wrap">
		{#each $posts.data.data as post}
			<BlogPreviewCard item={post} />
		{/each}
	</flex>
{/if}
