<script lang="ts">
	import { page } from '$app/stores';
	import { getPostQuery } from '$lib/api/posts/get';
	export let data;
	let { supabase } = data;
	$: ({ supabase } = data);
	const post_id = $page.params.post;
	const post = getPostQuery(supabase, post_id ?? '');
</script>

<svelte:head>
	<title>{$post.data?.data?.title}</title>
	<meta name="description" content={$post.data?.data?.description} />
	<meta name="author" content={$post.data?.data?.users?.display_name ?? 'Deleted'} />
	<meta name="keywords" content={$post.data?.data?.keywords?.join(', ')} />
</svelte:head>
<flex class="justify-between">
	<a href="/blog/editor/{$post.data?.data?.id}/edit" class="underline-transparent">
		Edit Post
		<div class="i-carbon-edit text-size-2em inline-block" />
		<div class="i-carbon-locked inline-block align-top" />
	</a>
	<a href="/blog/read/{$post.data?.data?.id}/raw">Raw post</a>
	<a href="/blog/editor/{$post.data?.data?.id}/delete" class="underline-transparent">
		Delete Post
		<div class="i-carbon-trash-can text-size-2em inline-block" />
		<div class="i-carbon-locked inline-block align-top" />
	</a>
</flex>
<div class="blog">
	{#if $post.status == 'success'}
		<article>
			<h1>{$post.data?.data?.title}</h1>
			<flex class="text-size-1.5em">
				<div class="mr-.5em">Author:</div>
				<a href="/users/{$post.data?.data?.users?.id}">
					{$post.data?.data?.users?.display_name ?? 'Deleted'}
				</a>
			</flex>
			<br />
			<div class="lg:mx-2em border border-black">
				<!-- esling-disable-line no-at-html-tags -->
				{@html $post.data?.data?.body}
			</div>
		</article>
	{/if}
</div>

<style>
	:global(div.blog img) {
		margin: 2em auto;
		max-width: 100%;
		height: auto;
	}
	@media only screen and (min-width: 768px) {
		:global(div.blog img) {
			display: block;
			max-width: 50%;
			margin-left: 10%;
		}
	}

	:global(div.blog pre) {
		overflow-x: scroll;
		width: 100%;
		padding: 0.5em 1em;
		box-shadow: 1px 1px 2px 2px var(--shadow);
	}

	:global(div.blog table, th, td) {
		border: 1px solid;
	}
	:global(div.blog th, td) {
		padding: 0.2em 0.5em;
	}
	:global(div.blog > table) {
		border-collapse: collapse;
	}
	:global(table) {
		max-width: 100%;
		width: fit-content;
		overflow-x: scroll;
		display: block;
	}
</style>
