<script lang="ts">
	import { browser } from '$app/environment';
	import { page } from '$app/stores';
	import { createVditor } from '$lib/vditor.js';
	import { onMount } from 'svelte';
	import { writable, type Writable } from 'svelte/store';

	export let data;
	let { supabase } = data;
	$: ({ supabase } = data);
	const post_id = $page.params.post;

	onMount(() =>
		createVditor(supabase, canSubmit, body, `vditor-edit-${post_id}`, $page.data.post.data?.body)
	);
	let canSubmit = writable(true);
	const nonBindedTitle = $page.data.post.data?.title;
	let body: Writable<string> = writable($page.data.post.data?.body ?? '');
	let title: string = $page.data.post.data?.title ?? '';
	let keywords: string = $page.data.post.data?.keywords?.join(', ') ?? '';
	let summary: string = $page.data.post.data?.description ?? '';
</script>

<svelte:head>
	<title>Luxuride - Editor</title>
	<meta name="description" content="Post editor" />
	<meta name="keywords" content="editor" />
</svelte:head>
<h1>Editing {nonBindedTitle}</h1>
<h2>{post_id}</h2>
<div>
	<form method="post" class="flex flex-col">
		<label for="title" class="mt-.5em">Title</label>
		<input
			bind:value={title}
			class="my-2 text-size-8"
			type="text"
			name="title"
			id="title"
			placeholder="Title"
			aria-multiline="false"
		/>
		<label for="keywords" class="mt-.5em">Keywords</label>
		<input
			bind:value={keywords}
			class="my-2 text-size-4"
			type="text"
			name="keywords"
			id="keywords"
			placeholder="Keywords"
			aria-multiline="false"
		/>
		<label for="summary" class="mt-.5em">Summary</label>
		<textarea
			bind:value={summary}
			class="my-2 text-size-4"
			rows="4"
			name="summary"
			id="summary"
			placeholder="Summary"
			aria-multiline="false"
		/>
		<textarea
			name="data"
			class="min-h-80 max-h-screen"
			placeholder="Content in markdown without rich text editor because of disabled javascript"
			hidden={browser}
			aria-hidden={browser}
			bind:value={$body}
			aria-multiline="true"
		/>
		<div
			id="vditor-edit-{post_id}"
			class="min-h-80 max-h-screen"
			hidden={!browser}
			aria-hidden={!browser}
		/>
		<button disabled={!$canSubmit} type="submit" class="text-size-2em">Submit</button>
	</form>
</div>

<style>
	@import '/static/editor.css';
</style>
