<script lang="ts">
	import { browser } from '$app/environment';
	import { createVditor } from '$lib/vditor';
	import { onMount } from 'svelte';
	import { writable } from 'svelte/store';

	export let data;
	let { supabase } = data;
	$: ({ supabase } = data);

	onMount(() => createVditor(supabase, canSubmit, body, 'vditor', null));
	let canSubmit = writable(true);

	let title: string;
	let keywords: string;
	let summary: string;
	let body = writable('');
</script>

<svelte:head>
	<title>Luxuride - Editor</title>
	<meta name="description" content="Post editor" />
	<meta name="keywords" content="editor" />
</svelte:head>

<div>
	<form method="post" class="flex flex-col">
		<label for="title" class="mt-.5em">Title</label>
		<input
			bind:value={title}
			class="my-2 text-size-8"
			type="text"
			id="title"
			name="title"
			placeholder="Title"
			aria-multiline="false"
		/>
		<label for="keywords" class="mt-.5em">Keywords</label>
		<input
			bind:value={keywords}
			class="my-2 text-size-4"
			type="text"
			name="keywords"
			id="keywords"
			placeholder="Keywords"
			aria-multiline="false"
		/>
		<label for="summary" class="mt-.5em">Summary</label>
		<textarea
			bind:value={summary}
			class="my-2 text-size-4"
			rows="4"
			name="summary"
			id="summary"
			placeholder="Summary"
			aria-multiline="false"
		/>
		<textarea
			name="data"
			class="min-h-80 max-h-screen"
			placeholder="Content in markdown without rich text editor because of disabled javascript"
			hidden={browser}
			aria-hidden={browser}
			bind:value={body}
			aria-multiline="true"
		/>
		<div id="vditor" class="min-h-80 max-h-screen" hidden={!browser} aria-hidden={!browser} />
		<button disabled={!canSubmit} type="submit" class="text-size-8">Submit</button>
	</form>
</div>

<style>
	@import '/static/editor.css';
</style>
